<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MVCDemo</display-name>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BookController</display-name>
    <servlet-name>BookController</servlet-name>
    <servlet-class>controller.BookController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OrderListController</display-name>
    <servlet-name>OrderListController</servlet-name>
    <servlet-class>controller.OrderListController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateStatusController</display-name>
    <servlet-name>UpdateStatusController</servlet-name>
    <servlet-class>controller.UpdateStatusController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AckController</display-name>
    <servlet-name>AckController</servlet-name>
    <servlet-class>controller.AckController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AckSubmitController</display-name>
    <servlet-name>AckSubmitController</servlet-name>
    <servlet-class>controller.AckSubmitController</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>OrderDetailController</display-name>
    <servlet-name>OrderDetailController</servlet-name>
    <servlet-class>controller.OrderDetailController</servlet-class>
  </servlet>
 
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
</web-app>